<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovationProject</title>
</head>
<body>
<nav>
    <div class="site-title">
        <a href="/"><h1>InnoProj</h1></a>
        <p>A Dre Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/console">Console</a></li>
    </ul>
</nav>

<div class="not-found content">
    Whoopty, page not found :0
</div>