<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="ovr.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .green-bg {
      background-color: #4aa96c;
    }

    /* Styles for screens smaller than or equal to 576px */
    @media (max-width: 576px) {
      /* CSS rules for small screens */
      body {
        font-size: 5vh;
        font-family: 'Bahnschrift', sans-serif;
      }
    }

    /* Styles for screens between 577px and 992px */
    @media (min-width: 577px) and (max-width: 900px) {
      /* CSS rules for medium screens */
      body {
        font-size: 4vh;
        font-family: 'Bahnschrift', sans-serif;
      }
    }

    /* Styles for screens larger than or equal to 993px */
    @media (min-width: 901px) {
      /* CSS rules for large screens */
      body {
        font-size: 2.6vh;
        font-family: 'Bahnschrift', sans-serif;
      }
    }
    </style>
  </head>
<form action="/control" method="POST">
  <body>
    <nav class="navbar navbar-expand-lg green-bg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home"> 
          <img src="extras/logo.PNG" class="mb-1" width="75px" height="25px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/control">Controls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout?_method=DELETE">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-11 col-lg-4 m-3">
          <label for="fanspeed" class="form-label">Fan speed</label>
          <input type="range" class="form-range" min="0" max="100" step="10" id="fanspeed" name="fanspeed" onchange="showValue(this.value)">
          <script>
            function showValue(newValue){
              document.getElementById("textInput1").value=newValue;
              }
          </script>
        </div>
      </div>
      <div class="row">
        <div class="mx-3 col-3 col-lg-1">
          <input type="text" class="form-control" id="textInput1" onchange="showValueBack(this.value)">
          <script>
            function showValueBack(newValue){
              document.getElementById("fanspeed").value=newValue;
            } //FYI all value names should be done, next step is string construction testing
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-lg-5 m-3"> <!-- Needs js here to work as intended -->
          <label for="pumpUptime" class="form-label">Main pump cycle</label>
          <div class="d-flex flex-row">
            <p>On time</p>
            <input type="text" class="form-control my-2" id="pumpUptime" placeholder="Time that pumps have to be on in minutes" value="" name="ontime"> 
          </div>
          <div class="d-flex flex-row">
            <p>Off time</p>
            <input type="text" class="form-control my-2" id="pumpDowntime" placeholder="Time the pumps have to be off in minutes" value="" name="offtime">
          </div>
          <input type="checkbox" class="btn-check" id="maintenance" autocomplete="off" name="mntn">
          <label class="btn btn-outline-primary mt-2" for="maintenance">Maintenance mode</label>
        </div>
      </div>
      <div class="row">
        <div class="col-auto m-3">
          <label class="form-label">Preferences</label>
          <div class="d-flex flex-row gap-3">
            <p>Highest pH</p>
            <input type="text" class="form-control my-2" id="maxpH" value="" name="hph">
            <p>Highest EC</p>
            <input type="text" class="form-control my-2" id="maxEC" value="" name="hec">
            <p>Highest Hum%</p>
            <input type="text" class="form-control my-2" id="maxHum" value="" name="hhum">
          </div>
          <div class="d-flex flex-row gap-3">
            <p>Lowest pH</p>
            <input type="text" class="form-control my-2" id="minpH" value="" name="lph">
            <p>Lowest EC</p>
            <input type="text" class="form-control my-2" id="minEC" value="" name="lec">
            <p>Highest t°</p>
            <input type="text" class="form-control my-2" id="minHum" value="" name="htemp">
          </div>
        </div>
      </div>
      <button class="m-3 btn btn-lg btn-primary" type="submit">Save</button>
    </div>
    </body>
</form>
</html>