<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    .window {
      min-height: 33vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; /*might be important*/
      font-weight: light;
    }
    
    .alerts {
      min-height: 8.2vh;
      height: 13vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-weight: light;
    }

        /* Styles for screens smaller than or equal to 576px */
    @media (max-width: 576px) {
      /* CSS rules for small screens */
      body {
        font-size: 5vh;
        font-family: 'Bahnschrift', sans-serif;
        color:aliceblue
      }
    }

    /* Styles for screens between 577px and 992px */
    @media (min-width: 577px) and (max-width: 900px) {
      /* CSS rules for medium screens */
      body {
        font-size: 4vh;
        font-family: 'Bahnschrift', sans-serif;
        color:aliceblue
      }
    }

    /* Styles for screens larger than or equal to 993px */
    @media (min-width: 901px) {
      /* CSS rules for large screens */
      body {
        font-size: 2.6vh;
        font-family: 'Bahnschrift', sans-serif;
        color:aliceblue
      }
    }

    .green-bg {
      background-color: #4aa96c;
    }

    .orange-bg {
      background-color: #c19191;
    }

    .yellow-bg {
      background-color: #eba83a;
    }

    .red-bg {
      background-color: #fd5e53;
    }

    .blue-bg {
      background-color: #4cacbc;
    }

    .purple-bg {
      background-color: #4cacbc;
    }

    .pink-bg {
      background-color: #fd5e53;
    }

    .teal-bg {
      background-color: #eba83a;
    }

    .violet-bg {
      background-color: #c19191;
    }

    .coral-bg {
      background-color: #eba83a;
    }

    .alerts-bg{
      background-color: #146356;
    }
    .alertsRed-bg{
      background-color: #fd5e53;
    }
  </style>
  <title>Hydroboxxx</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg green-bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"> 
        <img src="extras/logo.PNG" class="mb-1" width="75px" height="25px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/control">Controls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout?_method=DELETE">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col">
        <div class="window purple-bg">
          Water lvl
          <div style="display: flex;">
            <span class="fs-4" id="wlvl"></span>
            <span class="fs-4">%</span> 
          </div>
        </div>
      </div>
      <div class="col">
        <div class="window green-bg">
          Water t
          <div style="display: flex;">
            <span class="fs-4" id="wtemp"></span>
            <span class="fs-4">&#8451;</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="window blue-bg">
          Air t
          <div style="display: flex">
            <span class="fs-4" id="airtemp"></span>
            <span class="fs-4">&#8451;</span>
          </div>
          <div style="display: flex">
            <span class="fs-4" id="airtemp1"></span>
            <span class="fs-4">&#8451;</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="window teal-bg">
          Vent
          <div style="display: flex;">
            <span class="fs-4" id="vent"></span>
            <span class="fs-4">%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        <div class="window red-bg">
          pH
          <div style="display: flex;">
            <span class="fs-4" id="ph"></span>
            <span class="fs-4">pH</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="window yellow-bg">
          EC
          <div style="display: flex;">
            <span class="fs-4" id="ec"></span>
            <span class="fs-4">µS/cm</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="window violet-bg">
          Air RH
          <div style="display: flex;">
            <span class="fs-4" id="rh"></span>
            <span class="fs-4">%</span>
          </div>
          <div style="display: flex;">
            <span class="fs-4" id="rh1"></span>
            <span class="fs-4">%</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="window pink-bg">
          Pump
          <div style="display: flex;">
            <span class="fs-4" id="pump"></span>
            <span class="fs-4">%</span>
          </div>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="alerts alerts-bg fs-5" id="status">
        Status:&nbsp;
        <span id="alerts"></span> 
      </div>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <script> //rebuild to arrow functions
    function fetchAndUpdateValue() {
      fetch('/values')
        .then(response => {
          if (!response.ok) {
            throw new Error('Error fetching data')
          }
          return response.json()
        })
        .then(data => {
          const wlvl = document.getElementById('wlvl')
          const wtemp = document.getElementById('wtemp')
          const airtemp = document.getElementById('airtemp')
          const airtemp1 = document.getElementById('airtemp1')
          const vent = document.getElementById('vent')
          const ph = document.getElementById('ph')
          const ec = document.getElementById('ec')
          const rh = document.getElementById('rh')
          const rh1 = document.getElementById('rh1')
          const pump = document.getElementById('pump')
          const alerts = document.getElementById('alerts')

          const arr = data.value.split('&')
          
          if (airtemp) {
            airtemp.textContent = arr[0] //wrong
          }
          if (airtemp1) {
            airtemp1.textContent = arr[1] //wrong
          }
          if (rh) {
            rh.textContent = arr[2] //also wrong, will likely not work
          }
          if (rh1) {
            rh1.textContent = arr[3] //also wrong, will likely not work
          }
          if (wlvl) {
            wlvl.textContent = arr[4]
          }
          if (wtemp) {
            wtemp.textContent = arr[5]
          }
          
          if (vent) {
            vent.textContent = arr[6]
          }
          if (ph) {
            ph.textContent = arr[7]
          }
          if (ec) {
            ec.textContent = arr[8]
          }
          if (pump) {
            pump.textContent = arr[9]
          }
        
          if (alerts) {
            if (arr[4] < 20 && arr[4] != ''){
              alerts.textContent = ' Water level low'
              document.getElementById('status').classList.add('alertsRed-bg') 
            } else if (arr[4] > 90){
              alerts.textContent = ' Water level high(potentially too high)'
              document.getElementById('status').classList.add('alertsRed-bg') 
            } else if (!arr[4]){
              alerts.textContent = ' No data received from Controllino'
              document.getElementById('status').classList.add('alertsRed-bg') 
            } else {
              document.getElementById('status').classList.remove('alertsRed-bg') 
              alerts.textContent = ' No alerts'
            }

          }
        })
        .catch(error => {
          console.error('Error fetching data:', error.message);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
      fetchAndUpdateValue();
      setInterval(fetchAndUpdateValue, 50);
    });
  </script>
</body>

</html>