<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    .window {
      min-height: 30vh;
      display: flex;
      align-items: stretch;
      justify-content: center;
      font-weight: normal;
    }
    
    .alerts {
      min-height: 8.2vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: normal;
    }

        /* Styles for screens smaller than or equal to 576px */
    @media (max-width: 576px) {
      /* CSS rules for small screens */
      body {
        font-size: 5vh;
      }
    }

    /* Styles for screens between 577px and 992px */
    @media (min-width: 577px) and (max-width: 900px) {
      /* CSS rules for medium screens */
      body {
        font-size: 4vh;
      }
    }

    /* Styles for screens larger than or equal to 993px */
    @media (min-width: 901px) {
      /* CSS rules for large screens */
      body {
        font-size: 2.6vh;
      }
    }

    .red-bg {
      background-color: #922c2c;
    }

    .orange-bg {
      background-color: #FFA53F;
    }

    .yellow-bg {
      background-color: #FFD13F;
    }

    .green-bg {
      background-color: #7FFF3F;
    }

    .blue-bg {
      background-color: #3FA5FF;
    }

    .purple-bg {
      background-color: #B53FFF;
    }

    .pink-bg {
      background-color: #FF3F93;
    }

    .teal-bg {
      background-color: #3FFF7C;
    }

    .violet-bg {
      background-color: #E83FFF;
    }

    .coral-bg {
      background-color: #FF3F70;
    }

    .alerts-bg{
      background-color: #edabfd;
    }
  </style>
  <title>MoistPlants</title>
</head>

<body>
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col">
        <div class="window purple-bg">
          Water lvl
          <span id="wlvl">%</span>
        </div>
      </div>
      <div class="col">
        <div class="window green-bg">
          pH
          <span id="ph"></span>
        </div>
      </div>
      <div class="col">
        <div class="window blue-bg">
          H2O2
          <span id="h2O2"></span>
        </div>
      </div>
      <div class="col">
        <div class="window teal-bg">
          CO2
          <span id="co">ppm</span>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        <div class="window red-bg">
          Water temp 1
          <span id="wtemp1">C</span>
        </div>
      </div>
      <div class="col">
        <div class="window yellow-bg">
          EC
          <span id="EC">m^2/cm</span>
        </div>
      </div>
      <div class="col">
        <div class="window violet-bg">
          Air temp 1
          <span id="atemp1">C</span>
        </div>
      </div>
      <div class="col">
        <div class="window pink-bg">
          RH1
          <span id="rh1">%</span>
        </div>
      </div>  
    </div>
    <div class="row g-0">
      <div class="col">
        <div class="window orange-bg">
          Water temp 2
          <span id="wtemp2">C</span>
        </div>
      </div>
      <div class="col">
        <div class="window blue-bg">
          ORP
          <span id="ORP">mV</span>
        </div>
      </div>
      <div class="col">
        <div class="window coral-bg">
          Air temp 2
          <span id="atemp2">C</span>
        </div>
      </div>
      <div class="col">
        <div class="window red-bg">
          RH2
          <span id="rh2">%</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="window alerts alerts-bg">
        Alerts -
        <span id="alerts"></span> 
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <script> //rebuild to arrow functions
function fetchAndUpdateValue() {
  fetch('/values')
    .then(response => {
      if (!response.ok) {
        throw new Error('Error fetching data')
      }
      return response.json()
    })
    .then(data => {
      const wlvl = document.getElementById('wlvl')
      const ph = document.getElementById('ph')
      const h2O2 = document.getElementById('h2O 2')
      const co = document.getElementById('co')
      const wtemp1 = document.getElementById('wtemp1')
      const ec = document.getElementById('EC')
      const atemp1 = document.getElementById('atemp1')
      const rh1 = document.getElementById('rh1')
      const wtemp2 = document.getElementById('wtemp2')
      const orp = document.getElementById('ORP')
      const atemp2 = document.getElementById('atemp2')
      const rh2 = document.getElementById('rh2')
      const alerts = document.getElementById('alerts')

      console.log(data.value)
      const arr = data.value.split('&')
      console.log(arr[0])
      
      if (wlvl) {
        wlvl.textContent = arr[4]
      }
      if (ph) {
        ph.textContent = arr[5]
      }
      if (h2O2) {
        h2O2.textContent = arr[6]
      }
      if (co) {
        co.textContent = arr[7]
      }
      if (wtemp1) {
        wtemp1.textContent = arr[8]
      }
      if (ec) {
        ec.textContent = arr[9]
      }
      if (atemp1) {
        atemp1.textContent = arr[0]
      }
      if (rh1) {
        rh1.textContent = arr[2]
      }
      if (wtemp2) {
        wtemp2.textContent = arr[10]
      }
      if (orp) {
        orp.textContent = arr[11]
      }
      if (atemp2) {
        atemp2.textContent = arr[1]
      }
      if (rh2) {
        rh2.textContent = arr[3]
      }
      if (alerts) {
        if (arr[4] < 20){
          alerts.textContent = ' Water level low'
        }
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error.message);
    });
}

document.addEventListener('DOMContentLoaded', function () {
  fetchAndUpdateValue();
  setInterval(fetchAndUpdateValue, 50);
});
  </script>
</body>

</html>