<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovationProject</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-bluish">
<div class="flex flex-col h-screen">
<div class="flex-auto bg-gray-200">
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        let ctxcanvas = document.getElementById('myChart').getContext('2d')
        let data = {
            labels: ['Water tank 1'],
            datasets: [{
                label: 'Sample Chart',
                data: [12, 19, 3, 5, 2, 3]
            }]
        }
        let phChart = new Chart(ctxcanvas, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
            }
        })
    </script>
</div>
<div class="flex-auto bg-gray-200">
    <div class="container">
        <canvas id="myChart2"></canvas>
    </div>
    <script>
        let ctxcanvas2 = document.getElementById('myChart2').getContext('2d')
        let data2 = {
            labels: ['Water tank 1'],
            datasets: [{
                label: 'Sample Chart',
                data: [12, 19, 3, 5, 2, 3]
            }]
        }
        let phChart2 = new Chart(ctxcanvas2, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
            }
        })
    </script>
</div>
<div class="flex-auto bg-gray-200">
    <div class="container">
        <canvas id="myChart3"></canvas>
    </div>
    <script>
        let ctxcanvas3 = document.getElementById('myChart3').getContext('2d')
        let data3 = {
            labels: ['Water tank 1'],
            datasets: [{
                label: 'Sample Chart',
                data: [12, 19, 3, 5, 2, 3]
            }]
        }
        let phChart3 = new Chart(ctxcanvas3, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
            }
        })
    </script>
</div>
<div class="flex-auto bg-gray-200">
    <div class="container">
        <canvas id="myChart4"></canvas>
    </div>
    <script>
        let ctxcanvas4 = document.getElementById('myChart4').getContext('2d')
        let data4 = {
            labels: ['Water tank 1'],
            datasets: [{
                label: 'Sample Chart',
                data: [12, 19, 3, 5, 2, 3]
            }]
        }
        let phChart4 = new Chart(ctxcanvas4, {
            type: 'line',
            data: data4,
            options: {
                responsive: true,
            }
        })
    </script>
</div>
</div>
</body>
</html>