<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../dist/output.css" type="text/css">
</head>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
<body class="bg-bluish">
    <div class="grid grid-cols-5 grid-rows-5 gap-4">
        <div class="font-serif col-start-2 col-end-3 row-start-3 row-end-4 text-3xl text-teal-800">Login</div>
        <div class="col-start-3 col-end-3 row-start-3 row-end-3 text-2xl text-teal-800">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="col-start-3 col-end-3 row-start-4 row-end-4">
            <button class="text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:ring-4 focus:ring-teal-300 font-medium
         rounded-full text-sm text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800 p-4" type="submit">Log in</button>
            <a class="text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:ring-4 focus:ring-teal-300 font-medium
            rounded-full text-sm text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800 p-4" href="/register">Register</a>
        </div>
    </div>
</body>
</form>
</html>