<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovationProject</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap" rel="stylesheet">
</head>
<body class="bg-bluish">
<div class="grid grid-cols-3 grid-rows-2 gap-4">
    <div class="relative fixed top-0 left-0 h-screen w-56 m-0 flex flex-col bg-greeny text-black shadow-lg p-7 space-y-12 row-span-2">
        <i>ICON</i>
        <a href="/home" class="text-2xl text-teal-50 font-navbar">Monitoring</a>
        <a href="/cp" class="text-2xl text-teal-50 font-navbar">Control Panel</a>
        <a href="/hist" class="text-2xl text-teal-50 font-navbar">History</a>
        <a href="abt" class="text-2xl text-teal-50 font-navbar">About</a>
    </div>
</div>
</body>
</html>