<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovationProject</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap" rel="stylesheet">
</head>
<div style="position: relative; height: 300px; width: 300px" >
    <canvas id="myChart" ></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let myChart = document.getElementById('myChart').getContext('2d')

    let phChart = new Chart(myChart, {
        type: 'line',
        data: {
            labels:['Water tank 1', 'Water tank 2', 'Water tank 3', 'Water tank 4'],
            datasets:[{
                label: 'PH Level',
                data:[
                    6.5,
                    6.5,
                    6.8,
                    6.7,
                ]
            }]
        },
        options:{},
    })
</script>
</body>
</html>